@import 'colors';

.main {
  position: relative;
  width: 1824px; // FIXME omg lol
  height: 984px; // FIXME omg lol

  background: $primary-background-color;
  table-layout: fixed;
}

.row {
  // 1000px = 1080px - 4 * 20px
  // 4 = num of rows + 1
  // 20px = cellPadding
  height: calc(904px / 3);
}
