@import '~colors.scss';
@import '~placeholders.scss';
@import '~themes.scss';

.main {
  @extend %main;
  @extend %main-purple;
  font-family: 'Roboto Mono', monospace;
}

.footer {
  @extend %footer;
  @extend %footer-purple;
}

.content {
  padding: 24px;
}

.week-day {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

.time {
  font-size: 72px;
  font-weight: 500;
}

.date {
  font-size: 48px;
  font-weight: 500;
}
